<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <add key="i95Dev Packages" value="http://192.168.0.56:100/nuget/NugetPackages/" />
  </packageSources>
  <disabledPackageSources />
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>