<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>i95Dev Notification</title>
    <style>
    </style>
</head>
<body>
    <p style="font-family:Tahoma;font-size:10pt;">
        Hi <b>Client</b>, <br />
        <br />

        This is to notify that there are some network related issues for i95dev connector communication. So please take a look at the attached errors.

        <br />
        <br />
        <i>
    <p style="text-decoration: underline">Thanks,</p> </i><br />
    <b>i95Dev Team</b>
    </p>
</body>
</html>