<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="I95Dev.Connector.Base" version="1.0.5.6" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.Customer" version="1.0.4.5-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.CustomerGroup" version="1.0.3.4-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.Inventory" version="1.0.2.2-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.Invoice" version="1.0.2.3-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.PriceLevel" version="1.0.3.4-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.Product" version="1.0.2.2-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.SalesOrder" version="1.0.4-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.Shipment" version="1.0.3.2-beta" targetFramework="net452" />
  <package id="I95Dev.Connector.GP.Modules.TierPrices" version="1.0.3.4-beta" targetFramework="net452" />
  <package id="I95DevLogviewer" version="1.5.2.5" targetFramework="net452" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MvvmDialogs" version="5.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="SqlKata" version="1.0.0-beta-441" targetFramework="net452" />
</packages>